<script type="text/javascript">
  
  var venue_id = null;

  $(function() {
    $("#venue-go").click(function() {
      if(venue_id) {
        console.log("/venues/edit/" + venue_id);
        window.location = "/venues/edit/" + venue_id;
      }
    });

    $( "#venue-name" ).autocomplete({
      source: function( request, response ) {
        $.getJSON("/venues/find?contains=" + request.term, function (data) {
          console.log(data);
          response(data);
        });
      },
      minLength: 2,
      select: function( event, ui ) {
        $("#venue-name").val(ui.item.label);
        venue_id = ui.item.id;

        console.log( ui.item ?
          "Selected: " + ui.item.label :
          "Nothing selected, input was " + this.value);
      },
      open: function() {
        $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
      },
      close: function() {
        $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
      }
    });
  });
</script>
<h1>Find Venue</h1>

Venue name: <input id="venue-name" /> <button id="venue-go">Go</button>
<br />
<a href="/venues/new">New Venue</a><br /><br />
<h2>Some Venues with Raw Events</h2>
<% @venues.sort_by { |venue| @num_raw_events[venue.id] }.reverse.each do |venue|
   %>
  <a href="/venues/edit/<%= venue.id %>"><%= venue.name %></a> (<%= @num_raw_events[venue.id] %>)<br />
<% end %>
