/* Global styles */









@font-face
{
  font-family: UbuntuMonoBold;
  src: url("/assets/ubuntumono-b-webfont.eot");
  src: url("/assets/ubuntumono-b-webfont.eot?#iefix") format('embedded-opentype'), url("/assets/ubuntumono-b-webfont.woff") format('woff'), url("/assets/ubuntumono-b-webfont.ttf") format('truetype'), url("/assets/ubuntumono-b-webfont.svg#UbuntuMonoBold") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face
{
  font-family: UbuntuMonoRegular;
  src: url("/assets/ubuntumono-r-webfont.eot");
  src: url("/assets/ubuntumono-r-webfont.eot?#iefix") format('embedded-opentype'), url("/assets/ubuntumono-r-webfont.woff") format('woff'), url("/assets/ubuntumono-r-webfont.ttf") format('truetype'), url("/assets/ubuntumono-r-webfont.svg#UbuntuMonoRegular") format('svg');
  font-weight: normal;
  font-style: normal;
}
HTML, BODY
{
  margin: 0;
  padding: 0;
  font: 16px Arial, Helvetica, sans-serif;
  background-color:white;
}
UL, LI
{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
H1, H2, H3, H4, H5, H6
{
  margin: 0;
  padding: 0;
  font-weight: normal;
}
H1
{
  font-size: 36px;
}
H2
{
  font-size: 24px;
}
H3
{
  font-size: 21px;
}
H4
{
  font-size: 18px;
}
H5
{
  font-size: 16px;
}
H6
{
  font-size: 14px;
}
#header
{
}
#header .one
{
  background-color: #000000;
  border-bottom: 1px solid #000000;
  height: 29px;
  overflow: hidden;
}
#header .one .logo
{
  float: left;
  height: 50px;
  position: relative;
  top: -8px;
  left: 5px;
  margin-right: 23px;
}

#header .one a 
{
  text-decoration:none;
  color:white;
}

#header .one .menu-element
{
  float: left;
  color: #FFFFFF;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 20px;
  margin-top: 6px;
  font-size: 14px;
}
#header .one .menu-element.right
{
  float: right;
  margin-right: 10px;
}
#header .two
{
  border-bottom: 1px solid #422043;
  height: 60px;
  overflow: hidden;
  background-image: url("/assets/scaletake2b.png");
  background-image: -moz-linear-gradient(center top , rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0)), url("/assets/scaletake2b.png");
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0)), url("/assets/scaletake2b.png");
}
#header .two .search
{
  font-size: 28px;
  margin: 12px 0 0 9px;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: -1px;
  text-shadow: -1px -1px 0 #39153B;
}
#header .two .search INPUT[type=text]
{
  background: #FFFFFF;
  border: 0px solid #000000;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 3px 6px;
  margin: 0 5px;
  position: relative;
  top: -3px;
  box-shadow: -1px -1px 0 #39153B;
  color: #532156;
}
input:-moz-placeholder
{
  color: #3C3C57;
}
input::-webkit-input-placeholder
{
  color: #3C3C57;
}
#header .two .search INPUT.terms
{
  width: 360px;
}
#header .two .search INPUT.location
{
  width: 280px;
}
#header .two .search INPUT[type=image]
{
  background-color: #521257;
  background-image: -moz-linear-gradient(top center, #8C3A92,#521257);
  background-image: -webkit-linear-gradient(top, #8C3A92,#521257);
  border: 1px solid #120613;
  border-radius: 2px;
  color: #FFFFFF;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  padding: 6px 26px;
  margin-left: 5px;
  text-transform: none;
  letter-spacing: 0px;
  position: relative;
  top: 6px;
}
#header .two .search BUTTON IMG
{
  height: 14px;
}
#content
{
}











#content .sidebar
{
  width: 100%;
  height: 141px;
  position: relative;
}
#content .sidebar .inner
{
  padding: 10px 10px 10px 0;
  height: 100%;
  /*[empty]display:;*/
}
#content .sidebar .inner H3
{
  color: #3D0E3F;
  font-weight: bold;
  letter-spacing: -1px;
  text-transform: uppercase;
  visibility: hidden;
  height: 0px;
  margin-bottom: 9px;
}
#content .sidebar .inner .filter H5
{
  letter-spacing: -1px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  margin-right: 1px;
}
#content .sidebar .inner .filter
{
  font-size: 14px;
  float:left;
}

.sidebar .filter SPAN
{
  color: #13133A;
  background-color: rgba(19, 19, 58, .1);
}
#content .sidebar .inner .filter.price SPAN, #content .sidebar .inner .filter.day SPAN, #content .sidebar .inner .filter.date SPAN
{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#content .sidebar .inner .filter.day SPAN.selected, #content .sidebar .inner .filter.price SPAN.selected, #content .sidebar .inner .filter.date SPAN.selected 
{
  background-color:rgba(19,19,58,.25);
  color: #13133A;
}
#content .sidebar .inner .filter INPUT
{
  margin: 3px 0 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  padding: 4px;
  border-radius: 1px;
  border: none;
  color: #13133A;
}

#content .sidebar .inner .filter.day
{
  clear:both;
  padding-top: 10px;
}

#content .sidebar .inner .filter.date 
{
  width: 290px;
}


#content .sidebar .inner .filter.date .filters
{
  float:left;
}
#content .sidebar .inner .filter.date SPAN
{
  font-size: 14px;
  margin-bottom: 1px;
  padding: 5px 12px;
  cursor: pointer;
  display:block;
  width:60px;
}
#content .sidebar .inner .filter.date SPAN.selected {
  margin-right:-1px;
  width: 61px;
}
#content .sidebar .inner .filter.date .custom-select
{
  background-color: rgba(19, 19, 58, .25);
  color: white;
  padding: 10px 10px 10px 19px;
  float:left;
  text-align:right;
  height:60px;
  display:none;
  width: 166px;
}
#content .sidebar .inner .filter.date .custom-select.selected
{
  display:block;
}
#content .sidebar .inner .filter.date .custom-select INPUT 
{
  display:block;
  margin-bottom:5px;
  width: 154px;
  text-align: right;
  padding-left: 6px;
  padding-right: 6px;
  background-color: white;
  color:#13133A;
}
#content .sidebar .inner .filter.date .time-range
{
    margin-right: 8px;
    margin-top: 9px;
}
#content .sidebar .inner .filter.date .time-display
{
    color: #13133A;
    margin-top: 2px;
    font-variant: small-caps;
    margin-right: 8px;
    text-align: right;
}
#content .sidebar .inner .filter.tags
{
  margin-right: 10px;
  position: absolute;
  background-color: #B9B9C9;
  color: white;
  font-weight: bold;
  padding: 0 5px 5px 5px;
  height: 116px;
  z-index: 3;
}
#content .sidebar .inner .filter.tags.expanded
{
  height:216px;
}


#content .sidebar .inner .filter.tags LABEL
{
  margin: 0 3px;
  letter-spacing: -1px;
  font-weight: bold;
  text-transform: uppercase;
  color: #13133A;
  font-size: 18px;
  display: inline-block;
  position: relative;
  top: 1px;
}
#content .sidebar .inner .filter.tags INPUT
{
  margin:0;
}
#content .sidebar .inner .filter .tag-library
{
  margin: 7px 0 3px;
  width: 432px;
  height: 60px;
  overflow:hidden;
  background-color:transparent;
}
#content .sidebar .inner .filter.expanded .tag-library
{
  height:160px;
}

#content .sidebar .inner .filter .tag-library DIV
{
  float:left;
  font-weight:normal;
  padding:1px 5px;
  cursor:pointer;
  background-color:#4C4C84;
  color:white;
  margin-right:3px;
  margin-bottom:3px;
  border-radius:2px;
  font-variant:small-caps;
  font-size: 14px;
}
#content .sidebar .inner .filter .tag-library DIV:after
{
  content: "+";
  font-weight: bold;
  position: relative;
  top: 2px;
  left: 2px;
}
#content .sidebar .inner .filter .more-tags
{
  font-weight:normal;
  padding:1px 5px;
  cursor:pointer;
  background-color: #5858C9;
  color:white;
  border-radius: 2px 0 0 0;
  font-variant:small-caps;
  text-align: center;
  width: 82px;
  position: absolute;
  bottom: 0;
  right: 0;
}
#content .sidebar .inner .filter SPAN
{
  display: inline-block;
  text-align: center;
  margin-right: 1px;
  border-radius: 1px;
}
#content .sidebar .inner .col-2 {
  float:left;
  margin-left: 451px;
}
#content .sidebar .inner .col-2 .filter
{
  float:none;
}

#content .sidebar .inner .filter.day SPAN
{
  font-size: 14px;
  padding: 7px 9px;
  cursor:pointer;
}

#content .sidebar .inner .filter.price SPAN
{
  font-size: 14px;
  padding: 6px 12px;
  cursor: pointer;
}




#content #map {
  width:300px;
  height:500px;
  float:left;
  border: 5px solid rgba(19, 19, 58, .25);
  border-left: 0;
}



#content .main
{
  margin-left: 305px;
}
#content .main .inner
{
  padding: 0 0 0 10px;
  position: relative;
}
#content .main .inner .header
{
  font-size: 16px;
  font-weight: bold;
  letter-spacing: -1px;
  text-transform: uppercase;
  background-color: #5A5A76;
  padding: 8px 16px;
  color: white;
  box-shadow: 3px 2px 8px #666666;
  overflow:hidden;
} 
#content .main .inner .header .info
{
  float:left;
}
#content .main .inner .header .sort
{
  float:right;
  font-weight:normal;
}
#content .main .inner .header .sort SPAN
{
  font-weight:bold;
  cursor:pointer;

}
#content .main .inner .header .sort SPAN.selected
{
  font-weight:bold;
  text-decoration:none;
  cursor:default;
  color: #C5C5D9;
}
#content .main .inner .header .location
{
  color: #EAEAF6;
}

#content .main .inner .events LI
{
  margin: 10px 10px 0 0;
  height: 60px;
  background-color: white;
  padding: 5px 0 5px 5px;
  box-shadow: 3px 2px 8px #666666;
}

.venue.mode .events LI {
  overflow:hidden;
  margin:10px 0 0 0;
}

#content .main .inner .events-seed
{
  display: none;
}

.events LI .one
{
  margin-left: 101px;
  margin-right: 26px;
}

.venue.mode LI .one {
  margin-left:70px;
  margin-right:0;
}

.events LI .name
{
  font-size: 18px;
  font-weight: bold;
  color: #13133A;
  text-decoration:none;
  cursor:pointer;
}


.events LI .venue:before
{
  content: "  at ";
  font-style: italic;
}

.events LI .venue
{
  color:#000000;
  text-decoration:none;
}

.events LI .description
{
  font-size: 12px;
  margin-top: 4px;
  color: #888888;
  height: 30px;
  overflow: hidden;
}

.events LI .index
{
  float: left;
  margin-right: 5px;
  margin-top: 0.7px;
  width: 30px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  background-color: #A3A3C2;
  color: white;
  font-family: UbuntuMonoBold, sans-serif;
  font-size: 22px;
  box-shadow: 2px 2px 5px rgba(0,0,0,.5) inset;
  text-shadow: 2px 2px 5px rgba(0,0,0,.5);
}


.events LI .endex {
  float: right;
  width: 6px;
  height: 60px;
  background-color: #A3A3C2;
  position: relative;
}

#content .main .inner .events LI .venue:hover, #content .main .inner .events LI .name:hover
{
  text-decoration: underline;
}

#content .main .inner .events LI:hover, #content .main .inner .events LI.hover
{
  background: #FFDDFF;
}

#content .main .inner .events LI:hover .name, #content .main .inner .events LI.hover .name
{
  color:#2A132A;
}
#content .main .inner .events LI:hover .index, #content .main .inner .events LI.hover .index,
#content .main .inner .events LI:hover .endex, #content .main .inner .events LI.hover .endex
{
  background-color: #5c005c;
}
#content .main .inner .events LI:hover .when, #content .main .inner .events LI.hover .when
{
  background-color: #871F87;
}
#content .main .inner .events LI:hover .description, #content .main .inner .events LI.hover .description
{
  color: #906890;
}

.events LI .when
{
  position: relative;
  text-align: left;
  border-radius: 0;
  background-color: #49499E;
  color: #FFFFFF;
  font-family: UbuntuMonoBold, sans-serif;
  float: left;
  width: 60px;
  height: 60px;
}


.events LI .when .mod
{
  position: absolute;
  top: 4px;
  left: 6px;
  width: 60px;
  font-size: 18px;
  letter-spacing: 1px;
}

.events LI .when .day
{
  position: absolute;
  top: 32px;
  width: 60px;
  font-size: 28px;
    line-height: 0;
  letter-spacing: 4px;
  left: 5px;
}
.events LI .when .time
{
  position: absolute;
  top: 42px;
  width: 60px;
  font-size: 15px;
  font-variant: small-caps;
  left: 4px;
}

html,body {
  width:100%;
  height:100%;
  overflow:hidden;
  background: #F3F3FA url(scaleside5.png);
}
#body {
  width:100%;
  height:100%;
  overflow:auto;
}
.mode {
  display: none;
}
.close-btn {
    background-color: #605F61;
    border: 8px solid white;
    border-radius: 20px 20px 20px 20px;
    cursor: pointer;
    padding: 1px 5px;
    position: absolute;
    right: -16px;
    top: -16px;
}

.close-btn div {
    font-size: 15px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}
.mode .overlay {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:100;
  overflow:auto;
  background-color: rgba(0, 0, 0, 0.75);
}
.mode .window {
  opacity:1;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width:680px;
  margin: 60px auto;
  position:relative;
}
.mode .window .inner {
  margin: 40px 20px 20px;
}
.mode .window h1 {
  background-image: -moz-linear-gradient(center top , rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0)), url("/assets/scaletake2b.png");
  background-image: -webkit-linear-gradient(top , rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0)), url("/assets/scaletake2b.png");
  border: 1px solid #422043;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.25);
  color: #FFFFFF;
  font-size: 28px;
  font-weight: bold;
  height: 32px;
  left: -14px;
  letter-spacing: -1px;
  margin: 0;
  overflow: hidden;
  padding: 14px 0 14px 28px;
  position: relative;
  text-shadow: -1px -1px 0 #39153B;
  top: 20px;
  width: 100%;
}

.mode .window .h1under {
  position: absolute; 
  border-bottom: 10px solid transparent; 
  border-top: 10px solid transparent; 
  top: 62px;
}

.mode .window .h1under.left {
  border-right: 15px solid rgb(0, 0, 0); 
  left: -15px; 
}

.mode .window .h1under.right {
  border-left: 15px solid rgb(0, 0, 0); 
  right: -15px;
}

.mode .window .details {
  font-size: 13px; float: right; padding: 10px; width: 190px; height: 150px; background: none repeat scroll 0pt 0pt rgb(221, 221, 238);
}

.mode .window .description {
  
}

.mode .window .time.one {
  font-size: 18px;
}

.mode .window .time.two {
  font-size: 16px;
}
/*
.mode .window .venue {
  font-size: 16px;
}*/

.mode .window .menu {
  clear:both; 
}

.mode .window .menu .tabs ul {
  overflow:hidden;
  padding-top:10px;
}

.mode .window .menu .tabs li {
  list-style:none;
  float:left;
  padding:5px 10px;
  border-radius:2px;
  margin-right:10px;
  cursor:pointer;
}

.mode .window .menu .tabs li.selected {
  color:#FFFFFF;
  background:#996699;
}

.mode .window .menu > div {
  clear: both; padding: 6px 0 20px; display:none;
}

.mode .window .menu > div.selected {
  display:block;
}

.markerLabel {
  font-size:12px;
  font-family:Arial;
  color:#13133A;
  font-weight:bold;
  cursor:pointer;
  width:14px;
  text-align:center;
}

#loading {
  display:none;
  height:66px;
  width:66px;
  position:absolute;
}
