body, html {
  font-family:Arial,Helvetica,sans-serif;
  overflow:auto;
}

h1,h2,h3,h4,h5,h6 { margin:0; padding:0; }

input[type="text"], textarea {
  width:500px;
}

textarea {
  height: 100px;
}

label {
  
} 

.main.event .field label, .main.settings .field label {
  width:125px;
  margin-top: 3px;
  vertical-align: top;
  display:inline-block;
  text-align:right;
  margin-right:10px;
}

.field {
  margin-bottom:10px;
}

.main.event {
  margin-top:40px;
  padding-bottom:40px;
  clear:left;
  float:left;
  border-bottom:1px solid black;
}

.main.settings {
  margin-top:40px;
  padding-bottom:40px;
  clear:left;
  float:left;
}

.main.event h4 {
  margin-bottom:20px;
}

input.price {
  width:100px;
}

.actions {
  clear:both;
  padding-top:40px;
}

.remove {
  float:right;
  margin-right:10px;
}

#map_canvas {
   width: 480px; height: 320px; float:left;margin: 40px 0 0 23px;
}

.main.event .occurrence, .main.event .recurrence {
  background-color: #EEEEEE;
  margin-bottom: 10px;
  margin-left: 130px;
  overflow: hidden;
  padding: 10px;
  clear:both;
}

.main.event .recurrence {
  
}

.main.event .recurrence span {
  font-style:italic;
}

.main.event .occurrence label, .main.event .recurrence label {
  width:50px;
}

.occurrence .remove, .recurrence .remove {
  margin-right:0px;
}

.toggle-recurring {
  margin-bottom:10px;
}

select.interval {
  margin-bottom:10px;
}

.recur-parameter {
  display:inline-block;
  margin-bottom:10px;
}

.tags.field label {
  float:left;
}

.input-tags {
  position: relative;
  top: 2px;
  float: left;
  -moz-column-width: 150px;
  -moz-column-gap: 20px;
  -webkit-column-width: 150px;
  -webkit-column-gap: 20px;
  column-width: 150px;
  column-gap: 20px;
  height: 210px;
  margin-bottom: 20px;
}

.main .field .input-tags label {
    width: auto;

    vertical-align: auto;
    display: inline;
    text-align: left;
    float: none;
}

.tag {

}

.tag.parent {

}

.children {
    font-size: small;

    margin-left: 20px;
    margin-bottom: 15px;
}

.tag.child {

}

.field .url {
  font-size:14px;
}

/* Error Messages */
.field_with_errors {
  display: inline;
}

.field_with_errors .message {
  color: #D00;
  padding-left: 5px;
  font-size: 12px;
}

.error {
    border: 1px solid red;
    color:red;
}

.main .field label.error[generated="true"] {
    display: none !important;
}

.form-load {
 position:relative;
 top:2px;
 left:10px;
}