<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="style.css" type="text/css" /> <!-- good color: #703773 -->
</head>
<body>
<div id="header">
	<div class="one">
		<img class="logo" src="halfpastnow.png" />
		<div class="menu-element">about us</div>
		<div class="menu-element">blog</div>
		<div class="menu-element">contact us</div>
		<div class="menu-element right">login / sign up</div>
	</div>
	<div class="two">
		<div class="inner">
			
			<div class="search">
				findit
				<input type="text" class="terms" placeholder="stuff to do"/>
				around
				<input type="text" class="location" placeholder="a point in space"/>
				<button><img src="search2.png" /></button> 
				
				<% if user_signed_in? %>
							  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
							<% else %>
							  <%= link_to('Login', new_user_session_path)  %>  
							<% end %> / 
							<% if user_signed_in? %>
							  <%= link_to('Edit registration', edit_user_registration_path) %>
							<% else %>
							  <%= link_to('Register', new_user_registration_path)  %>
							<% end %>
			</div>
		</div>
	</div>
</div>
<div id="content">
	<div class="sidebar">
		<div class="inner">
			<h3>filter events by</h3>
			<div class="filter date">
				<h5>date</h5>
				<input type="text" class="start date" placeholder="now"/> to <input type="text" class="end date" placeholder="forever"/>
			</div>
			<div class="filter day">
				<h5>day of the week</h5>
				<span>mon</span><span>tue</span><span>wed</span><span>thu</span><span>fri</span><span>sat</span><span>sun</span>
			</div>
			<div class="filter distance">
				<h5>distance</h5>
				<span>everywhere</span> 
			</div>
			<div class="filter price">
				<h5>price</h5>
				<span>free</span><span>$</span><span>$$</span><span>$$$</span><span>$$$$</span>
			</div>
			<div class="filter tags">
				<h5>tags</h5>
				<input type="text" class="tags" />
				<div class="tag-library"></div>
			</div>
		</div>
	</div>
	<div class="main">
		<div class="inner">
			<div class="header">9000+ events around <span>Austin</span></div>
			<ul class="events">
				<li>
					<div class="vote">
						<img src="upvote7.png" class="upvote" />
						<img src="downvote7.png" class="downvote" />
					</div>
					<div class="when sun">
						<div class="mod">EVERY</div>
						<div class="day">SUN</div>
						<div class="time">O5:OOpm</div>
					</div>
					<div class="one">
						<span class="name">10 Cent Beer Night</span>
						<span class="venue">The Roller Rink</span>
						<div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat. </div>
					</div>
				</li>
				<li>
					<div class="vote">
						<img src="upvote7.png" class="upvote" />
						<img src="downvote7.png" class="downvote" />
					</div>
					<div class="when tue">
						<div class="mod">NEXT</div>
						<div class="day">TUE</div>
						<div class="time">12:OOpm</div>
					</div>
					<div class="one">
						<span class="name">10 Cent Beer Night</span>
						<span class="venue">The Roller Rink</span>
						<div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat. </div>
					</div>
				</li>
				<li>
					<div class="vote">
						<img src="upvote7.png" class="upvote" />
						<img src="downvote7.png" class="downvote" />
					</div>
					<div class="when wed">
						<div class="mod">12/24</div>
						<div class="day">WED</div>
						<div class="time">O5:OOpm</div>
					</div>
					<div class="one">
						<span class="name">10 Cent Beer Night</span>
						<span class="venue">The Roller Rink</span>
						<div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat. </div>
					</div>
				</li>
				<li>
					<div class="vote">
						<img src="upvote7.png" class="upvote" />
						<img src="downvote7.png" class="downvote" />
					</div>
					<div class="when sat">
						<div class="mod">EVERY</div>
						<div class="day">SAT</div>
						<div class="time">O5:OOpm</div>
					</div>
					<div class="one">
						<span class="name">10 Cent Beer Night</span>
						<span class="venue">The Roller Rink</span>
						<div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat. </div>
					</div>
				</li>
				<li>
					<div class="vote">
						<img src="upvote7.png" class="upvote" />
						<img src="downvote7.png" class="downvote" />
					</div>
					<div class="when sat">
						<div class="mod">EVERY</div>
						<div class="day">SAT</div>
						<div class="time">O5:OOpm</div>
					</div>
					<div class="one">
						<span class="name">10 Cent Beer Night</span>
						<span class="venue">The Roller Rink</span>
						<div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat. </div>
					</div>
				</li>
				<li>
					<div class="vote">
						<img src="upvote7.png" class="upvote" />
						<img src="downvote7.png" class="downvote" />
					</div>
					<div class="when fri">
						<div class="mod">EVERY</div>
						<div class="day">FRI</div>
						<div class="time">O5:OOpm</div>
					</div>
					<div class="one">
						<span class="name">10 Cent Beer Night</span>
						<span class="venue">The Roller Rink</span>
						<div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat. </div>
					</div>
				</li>
				<li>
					<div class="vote">
						<img src="upvote7.png" class="upvote" />
						<img src="downvote7.png" class="downvote" />
					</div>
					<div class="when tue">
						<div class="mod">NEXT</div>
						<div class="day">TUE</div>
						<div class="time">12:OOpm</div>
					</div>
					<div class="one">
						<span class="name">10 Cent Beer Night</span>
						<span class="venue">The Roller Rink</span>
						<div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat. </div>
					</div>
				</li>
				<li>
					<div class="vote">
						<img src="upvote7.png" class="upvote" />
						<img src="downvote7.png" class="downvote" />
					</div>
					<div class="when thu">
						<div class="mod">12/24</div>
						<div class="day">THU</div>
						<div class="time">O5:OOpm</div>
					</div>
					<div class="one">
						<span class="name">10 Cent Beer Night</span>
						<span class="venue">The Roller Rink</span>
						<div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat. </div>
					</div>
				</li>
				<li>
					<div class="vote">
						<img src="upvote7.png" class="upvote" />
						<img src="downvote7.png" class="downvote" />
					</div>
					<div class="when sat">
						<div class="mod">EVERY</div>
						<div class="day">SAT</div>
						<div class="time">O5:OOpm</div>
					</div>
					<div class="one">
						<span class="name">10 Cent Beer Night</span>
						<span class="venue">The Roller Rink</span>
						<div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat. </div>
					</div>
				</li>
				<li>
					<div class="vote">
						<img src="upvote7.png" class="upvote" />
						<img src="downvote7.png" class="downvote" />
					</div>
					<div class="when sun">
						<div class="mod">EVERY</div>
						<div class="day">SUN</div>
						<div class="time">O5:OOpm</div>
					</div>
					<div class="one">
						<span class="name">10 Cent Beer Night</span>
						<span class="venue">The Roller Rink</span>
						<div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat. </div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
</body>
</html>
