<h2>About Us</h2>
<p>Half Past Now is an Austin based company determined to change the way individuals find events
and interact with their community. We hope to provide users a simple, easy to use platform to
filter the activities going on around them. Our product will also provide customized
recommendations for users based on their preferences and what their friends are up to!</p>
<h4>Our Team</h4>
<p><strong>Marc Bhargava:</strong> Marc leads Half Past Now’s strategy, customer acquisition, and financing efforts. He has experience investing and growing companies through his past roles at Castanea Partners and McKinsey
&amp; Company.</p>
<p><strong>Rob Rumble:</strong> Rob leads Half Past Now’s UI/UX design effort and contributes significantly to back-
end development. He has experience as a web developer at Notice Technologies, an Austin
Technology Incubator startup, as well as other startups in the Austin area.
<p><strong>Michael Wei:</strong> Michael leads the product development effort. He has experience as a product manager
at Texas Instruments, where he had the responsibility of leading several product families and focused
application spaces.</p>
