<h2>Contact Us</h2>
<p>If you are interested in helping us discover new events for users, would like to part of our
business development team, or would like to learn more about our business please contact
<a href="mailto:marc.bhargava@gmail.com">marc.bhargava@gmail.com</a>.</p>
<p>If you are interested in a position as a product development or design intern please contact
<a href="mailto:michael.y.wei@gmail.com">michael.y.wei@gmail.com</a>.</p>
